.skillBox {
    position: relative;
    color: white;
    background-color: rgba(2, 19, 33, 0.8);
    max-width: 700px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    font-size: larger;
    bottom: 30px;
}

.skillBox p {
    font-size: medium;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: larger;
    padding: 10px;
}
.skillBox p span {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

.img-fluid{
    border-radius: 10%;
    border: 2px solid #b8a07e;
    box-shadow: 0 0 10px black;
}

@media (max-width: 450px) {
    .skillBox p span {
        font-size: small;
    }
    .skillBox p {
        font-size: small;
        padding: 0px;
    }
    .skillBox {
        height: 450px;
    }
}

@media (min-width: 451px) and (max-width: 750px) {
    .skillBox p span {
        font-size: medium;
    }
    .skillBox p {
        font-size: medium;
        padding: 2px;
    }
    .skillBox {
        height: 400px;
    }
}

.portfolio-info {
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
}


/* -------------------------------------------------------------- */

.projectHeader {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Comic Neue", cursive;
    margin: 2rem;
}
